.barlow-thin {
    font-family: "Barlow", sans-serif;
    font-style: normal;
    font-size: larger;
  }

  .navbar .nav-link:hover {
    color: rgb(240, 36, 36); /* Cambia 'green' por el color que prefieras */
  }

  .playfair{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }