

    {% extends 'base.html'%}

    {% block contenido %}
<div class="container mt-5">
<h5>Bienvenido {{user.get_username}}</h5>
    <div class="row">

        {% for tortas in tartaletas%}
        <div class="col-md-4 mt-4 mb-2">
        <div class="card" style="width: 18rem;">
            <a href="{%url 'tarta_detalle' tortas.id%}">
                <img src={{tortas.image_url}} class="card-img-top" alt="..."width="286" height="189">
                </a>
            <div class="card-body">
            <center><h5 class="card-title">{{tortas.name}}</h5></center>
            <center><p class="card-text">{{tortas.description}}</p></center>
            <center><h5 class="card-text">$ {{tortas.precio}}</h5></center>
            </div>
        </div> 
    </div>
        {% endfor %}
        </div>

    </div>
{% endblock %}


 
    
    