{% extends 'base.html' %}

{% block contenido %}
<div class="container mt-5">
    <h1>Contacto</h1>
    <form action="/contacto" method="post">
        {% csrf_token %}

        <div class="form-group">
            {{ form.customer_name.label_tag }}
            {{ form.customer_name }}
            {{ form.customer_name.errors }}
        </div>
        
        <div class="form-group">
            {{ form.customer_email.label_tag }}
            {{ form.customer_email }}
            {{ form.customer_email.errors }}
        </div>
        
        <div class="form-group">
            {{ form.message.label_tag }}
            {{ form.message }}
            {{ form.message.errors }}
        </div>

    
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>
{% endblock %}
