{% extends 'base.html'%}


{% block contenido %}
<div class="container">

    <div class="row">

        {% for tortas in tartaletas%}
        <div class="col-md-4 mt-4 mb-2">
        <div class="card" style="width: 18rem;">
            <img src={{tortas.image_url}} class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">{{tortas.name}}</h5>
            <p class="card-text">{{tortas.description}}</p>
            </div>
        </div> 
    </div>
        {% endfor %}
        </div>

    </div>
{% endblock %}

